
body{
    margin: 0;
}
.container{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100vh;
    text-align: center;
    
}
.web{
    margin: 20px;
    border: solid 1px black;
    padding: 5px;
    background-color: antiquewhite;
    border-radius:10px ;
    
}
hr{
    margin: 20px;
}
.tall{
    background-color: antiquewhite;
    padding: 10px;
    border-end-start-radius: 20px;
    border-start-end-radius: 20px;
}
img{
    height: 30vh;
    width: 25vw;
    position: relative;
    top: 100px;
}
.container1{
   
    background-image: linear-gradient(to bottom, #390da0, transparent);
}